﻿

<h2>Waiting for game {{gameid}}...</h2>

<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="Create a custom white card!">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-lg">
                    {{CustomCardValue}}
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="CustomCardValue"/>
                <button class="btn btn-primary" ng-click="SubmitCustomCard()">Submit</button>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>