﻿<div class="row">
    <div class="col-md-3">
        <div class="card card-blk card-lg">
            <h4 class="margined">{{BlackCard.BlankValue}}</h4>
        </div>
        <button class="btn btn-danger btn-lg" ng-click="EndGame()">End Game</button>
        <button class="btn btn-warning btn-lg" ng-click="SkipRound()">Skip Round</button>
    </div>
    <div class="col-md-3">
        <div class="card card-wd card-clickable" ng-click="SelectSubmission(submission.PlayerId)" ng-mouseover="SelectSubmission(submission.PlayerId)" ng-repeat="submission in Submissions">
            <button class="btn btn-primary centered" ng-click="PickRoundWinner(submission.PlayerId)">Winner</button>
        </div>
    </div>
    <div class="col-md-4" ng-show="ShowSelected">
        <div class="card card-lg" ng-repeat="card in Selection.Cards">
            <h1 class="blk">{{card.Value}}</h1>
        </div>
    </div>
</div>
<div ng-show="ShowSelected">
    <h2>{{Selection.SubmittedAnswer}}</h2>
</div>