﻿<h1>Round #{{RoundNumber}}</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card card-blk card-lg">
            <h4>{{BlackCard.BlankValue}}</h4>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-show="!RoundOver">
            <h4>{{Readout}}</h4>
            <button class="btn btn-lg" ng-click="Submit()">Submit</button>
        </div>
        <div ng-show="RoundOver">
            <h2>Submitted Players:</h2>
            <ul>
                <li ng-repeat="player in PlayersWhoSubmitted">player</li>
            </ul>
            <h2 ng-show="RoundOver">Waiting for host</h2>
        </div>
    </div>
</div>

<div ng-show="!RoundOver">
    <div>
        <div class="card-picker">
            <div class="item" ng-class="item.css" href="#" ng-repeat="item in Items">
                <div class="card-lg card">
                    <h4>{{item.card.Value}}</h4>
                    <div ng-repeat="pick in GetPicks()">
                        <button class="btn" ng-click="Select(item.card.WhiteCardId, pick)">Pick {{pick+1}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-picker {
        width: 100%;
        overflow: auto;
        padding: 15px;
        white-space: nowrap;
        height: 100%;
    }
    .card-picker .item {
        display: inline-block;
    }
    .card-picker .item .picked {
        margin-bottom: 40px;
    }
</style>
